body {
	background: rgb(199, 199, 199);
	color:white;
	margin:0;
	padding:0;
	font-family: ubuntu;
}



.fe_menu_index 	{ background: rgb(60, 60, 60);	color: white; }
.fe_menu_index ul	{ background: ;list-style: none;margin: 0;padding: 0;}
.fe_menu_index ul li	{ background: ;}
.fe_menu_index ul li a	{ background: ;padding:10px;display: block;color: white; text-decoration: none; text-transform: capitalize;}
.fe_menu_index ul li a:hover	{ background: rgb(40, 40, 40);}
.fe_menu_index ul li a.fe_titulo	{ background: rgb(30, 47, 65) !important; border-left-color:rgb(30, 47, 65) !important; text-transform: uppercase;}
.fe_menu_index ul li a.fe_titulo:hover	{ background: rgb(0, 94, 196);}
.fe_menu_index ul li a i	{ display: block; margin-right:10px; width: 20px; height: 20px; float:left;}





i.menu { background: url("/_assets/img/icons/menu.png") center no-repeat; }
i.funcionarios { background: url("/_assets/img/icons/funcionarios.png") center no-repeat; }
i.funcionario { background: url("/_assets/img/icons/funcionario.png") center no-repeat; }
i.contas { background: url("/_assets/img/icons/contas.png") center no-repeat; }
i.itens { background: url("/_assets/img/icons/itens.png") center no-repeat; }
i.mesas { background: url("/_assets/img/icons/mesas.png") center no-repeat; }
i.faturamento { background: url("/_assets/img/icons/faturamento.png") center no-repeat; }
i.pendencias { background: url("/_assets/img/icons/pendencias.png") center no-repeat; }
i.logout { background: url("/_assets/img/icons/logout.png") center no-repeat; }
i.editar { background: url("/_assets/img/icons/editar.png") center no-repeat;  display: block;width: 16px;height: 16px;margin-right: 8px;}
i.ver { background: url("/_assets/img/icons/ver.png") center no-repeat;  display: block;width: 16px;height: 16px;margin-right: 8px;}
i.fechar_conta { background: url("/_assets/img/icons/fechar_conta.png") center no-repeat;  display: block;width: 16px;height: 16px;margin-right: 8px;}
i.excluir { background: url("/_assets/img/icons/excluir.png") center no-repeat;  display: block;width: 16px;height: 16px;margin-right: 8px;}
i.incluir { background: url("/_assets/img/icons/incluir.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-bottom: -3px;margin-right: 4;}
i.consultar { background: url("/_assets/img/icons/consultar.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-bottom: -3px;margin-right: 4;}
i.cancelar { background: url("/_assets/img/icons/cancelar.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-bottom: -3px;margin-right: 4;}
i.data { background: url("/_assets/img/icons/data.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-bottom: -3px;margin-right: 4;}
i.entrega { background: url("/_assets/img/icons/entrega.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-right: 4;}
i.senha { background: url("/_assets/img/icons/senha.png") center no-repeat; display: inline-block ; width: 16px;height: 16px;margin-right: 4;}




.fundo_1 { background: rgb(83, 15, 170) ; border-color:rgb(83, 15, 170);}
.fundo_1:hover { border-left-color:rgb(83, 15, 170) !important;}
.fundo_2 { background: rgb(145, 15, 170) ;}
.fundo_2:hover { border-left-color:rgb(145, 15, 170) !important;}
.fundo_3 {background: rgb(170, 15, 89); }
.fundo_3:hover { border-left-color:rgb(170, 15, 89) !important;}
.fundo_4 {background: rgb(170, 52, 15);}
.fundo_4:hover { border-left-color:rgb(170, 52, 15) !important;}
.fundo_5 { background: rgb(170, 145, 15) ;}
.fundo_5:hover { border-left-color:rgb(170, 145, 15) !important;}
.fundo_6 {background: rgb(102, 170, 15); }
.fundo_6:hover { border-left-color:rgb(102, 170, 15) !important;}
.fundo_7 {background: rgb(15, 170, 164);}
.fundo_7:hover { border-left-color:rgb(15, 170, 164) !important;}
.fundo_8 {background: rgb(15, 89, 170);}
.fundo_8:hover { border-left-color:rgb(15, 89, 170) !important;}



.btn {display: inline-block; border: 0;padding: 7px;text-transform: uppercase;font-size: 12px;border-radius: 3px;color: white;margin: 10px;	}
button a, .btn { text-decoration: none; color: inherit;}
.btn.cancelar		{ background-color:rgb(189, 169, 68); }
.btn.salvar,.btn.inluir	{ background-color:rgb(92, 165, 104); }
.btn.consultar		{ background-color:rgb(123, 162, 162); }


.area_de_tabelas {background: rgb(220, 220, 220);color: black ; padding:10px; padding-bottom:20px; }

table {width: 100%;  font-size:14px; color: black;}
table thead tr th {	padding:10px;}
table thead tr th, table tr td {	border-right:1px solid rgb(204, 204, 204);padding: 5px;	}
table tbody tr td {	border-top:1px solid rgb(190, 190, 190);	}


tbody tr:nth-child(even) {  background-color: rgb(226, 232, 233);}
tbody tr:nth-child(odd):hover,
tbody tr:nth-child(even):hover {  background-color: rgb(100, 100, 100); color: white;}


tbody tr:nth-child(odd) {  background-color: rgb(206, 220, 230);}



td a {display: inline-block;}


form.form label	{ width: 125px;display: inline-block;text-align: right;margin-right: 5px;height: 24px;}
form.form input, form.form select	{ display: inline-block; clear:both; width: 138px;}
form.form input[type=date]	{ width: 138px;}



.msg_erro {	background: url("/_assets/img/icons/excluir.png") 14px 14px no-repeat;		background-color: rgb(255, 200, 200);padding: 10px;border: 1px solid rgb(255, 0, 0);border-radius: 4px;padding-left: 48px;color: rgb(136, 0, 0);text-transform: normal;}
.msg_sucesso {	background: url("/_assets/img/icons/sucesso.png") 14px 14px no-repeat;		background-color: rgb(212, 255, 195);padding: 10px;border: 1px solid rgb(93, 155, 98);border-radius: 4px;padding-left: 48px;color: rgb(2, 129, 2);text-transform: normal;}


.sem_registros {color: gray; text-transform: lowercase; font-style: italic; margin-bottom:0;}

.logouta {background: rgb(39, 38, 38);display: block;padding: 6px;color: white;text-decoration: none;}
.logouta:hover {background: rgb(46, 71, 43);}
.logouticon {display: inline-block;width: 22px;height: 20px;margin-right: 10px;margin-top: 4px;margin-top: 0;margin-left: 6px;}



input.entrar {width: 130px;margin-top: 14px;}